*:focus {
  outline: none !important;
  box-shadow: none !important;
}


:root {
  --darker: #27374D;
  --dark: #526D82;
  --main2: #9DB2BF;
  --main: #DDE6ED;

}
/*START CAROUSEL*/
.CMD {
    height: auto;
    background: var(--darker);
  }
  
  .width {
    width: 100%;
    max-width: 1200px;
    padding: 30px;
  }
  
  .accordion {
    border-radius: 15px;
    margin: 25px;
    margin-top: 100px;
  margin-bottom: 100px;
  }
   .accordion-header {
    padding: 10px;
  } 
  
  
  
  
  .accordion-item {
    color: #111;
    border: none;
    outline: none;
    border-radius: 15px;
    background: #000000;
  }
  
  .accordion-item:not(.collapsed) {
    background: var(--main2);
    color: #111;
    cursor: pointer;
    border-radius: 15px;
    
  }
  
  .accordion-button:not(.collapsed) {
    background: var(--darker);
    width: 100%;
    color: #fff;
    box-shadow: none;
    outline: none;
    border-radius: 15px !important;
   
  }
  
  .accordion-button:not(.collapsed):focus {
    background: var(--darker);
    width: 100%;
    color: #fff;
    box-shadow: none;
    outline: none;
    border-radius: 15px;
  
  }
  
  .accordion-button {
    background: var(--dark);
    width: 100%;
    color: #fff ;
    font-weight: 600;
    font-size: large;
    outline: none;
    border-radius: 15px !important;
    
  }
  
  .input-group-text{
    background: var(--main) ;
    color: var(--darker) ;
    font-weight: 500;
    font-size: medium;
    outline: 2px var(--darker)!important;
    border: 2px solid var(--darker)!important;
    margin-right: 0px;
  }
  
  .accordion-body {
    color: white;
    border-radius: 15px;
  }
  
  .input-group {
    display: flex;
    flex-direction: row;
  }
  
  