html,
body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #212529;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  color: aliceblue;
}

.icon {
  margin-right: 9px;
}

.icon2 {
  margin-left: 9px;
}

.header {
  padding-top: 15px;
}
.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 15px; /* Position the navbar at the top of the page */
  background: #702cf6;
  border-radius: 28px;
  margin-inline: 7.5%;
  width: 85%;
  z-index: 20;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background: #702cf6;
}

.navbar .container-fluid {
  margin-left: 20px;
  margin-right: 10px;
}

.navbar a {
  color: aliceblue;
  font-size: larger;
  font-weight: 500;
}

.container-fluid a {
  font-size: large;
  font-weight: 700;
}

.navbar .navbar-brand:focus {
  color: #fff;
}

.navbar a:hover {
  color: rgb(216, 218, 219);
}

.offcanvas {
  background: #101014;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.offcanvas .btn-close {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: none;
}

.offcanvas .btn-close i {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.offcanvas .btn-close:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.offcanvas.offcanvas-start {
  min-width: 170px;
  max-width: 300px;
}

.offcanvas-title {
  color: aliceblue;
  font-size: x-large;
  font-weight: 600;
  margin-left: 10px;
}

.offcanvas-backdrop.show {
  opacity: 0.3;
}

.offcanvas-body {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.offcanvas-body .nav-item .btn {
  padding-block: 10px;
  padding-left: 25px;
  background-color: #0a0a0f;
  margin-bottom: 15px;
  margin-left: 5px;
  border-radius: 13px;
  text-align: start;
  font-weight: 400;
  font-size: large;
  color: #fff;
}

.offcanvas-body .nav-item .btn:hover {
  background-color: #905bfa;
}

.navbar-nav .nav-link.active {
  color: aliceblue;
  font-size: large;
  font-weight: 400;
  text-align: start;
}

.offcanvas-body .nav-item .btn:focus {
  background: #905bfa;
}

/** HERO SECTION**/

.hero h1 {
  padding-inline: 15px;
  word-spacing: 2px;
  margin-block: 15px;
  margin-inline: 15%;
  font-size: 900;
  font-weight: 900;
}

.hero h2 {
  margin-bottom: 10px;
}

.hero p {
  text-align: center;
  margin-inline: 10%;
}

.landing h1 span {
  color: #905bfa;
}

.h-btn {
  margin-top: 15px;
  padding-block: 10px;
  padding-inline: 15px;
  color: aliceblue;
  background-color: #905bfa;
  font-size: large;
  font-weight: 700;
  border-radius: 25px;
}

.h-btn:hover {
  background-color: #8446ff;
}

.oreo {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  width: 100%;
}

/**About section**/

.About {
  background: #101014;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  color: aliceblue;
}

.about h2 {
  margin-bottom: 10px;
}

.about p {
  text-align: center;
  margin-inline: 10%;
}

.about h1 span {
  color: #905bfa;
}

.about-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-2 h1 {
  display: flex;
  margin-right: 15rem;
  text-align: start;
}

.about-text {
  margin-bottom: 40px;
}

/**CAAAAARRRRRDDD**/
.card {
  width: 20em;
  height: 29.5em;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  left: 0;
  flex-direction: column;
  margin-top: 60px;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.card .img {
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
  margin: auto;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a {
  color: white;
  transition: 0.4s ease-in-out;
}

.card a:hover {
  color: red;
}

.card button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

.card button:hover {
  background: red;
  color: white;
  cursor: pointer;
}
