html,
body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: none;
  --bs-gutter-y: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  color: #fff;
}

.icon {
  margin-right: 9px;
}

.icon2 {
  margin-left: 9px;
}

.header {
  padding-top: 15px;
}

.navbar {
  position: fixed;
  /* Set the navbar to fixed position */
  top: 15px;
  /* Position the navbar at the top of the page */

  border-radius: 28px;
  margin-inline: 7.5%;
  width: 85%;
  z-index: 20;
  box-shadow: inset 0px 0px 20px #000000;
  box-shadow: 0px 1px 10px #1e1928;
  background: rgba(119, 70, 235, 1);
  /*backdrop-filter: blur(1.2rem);*/
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar .container-fluid {
  margin-left: 20px;
  margin-right: 10px;
}

.navbar a {
  color: aliceblue;
  font-size: larger;
  font-weight: 500;
}

.container-fluid a {
  font-size: large;
  font-weight: 700;
}

.navbar .navbar-brand:focus {
  color: #fff;
}

.navbar a:hover {
  color: rgb(216, 218, 219);
}

.offcanvas {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #101014;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.offcanvas .btn-close {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: none;
}

.offcanvas .btn-close i {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.offcanvas .btn-close:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.offcanvas.offcanvas-start {
  min-width: 170px;
  max-width: 300px;
}

.offcanvas-title {
  color: aliceblue;
  font-size: x-large;
  font-weight: 600;
  margin-left: 10px;
}

.offcanvas-backdrop.show {
  opacity: 0.3;
}

.offcanvas-body {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.offcanvas-body .nav-item {
  list-style: none;
}

.offcanvas-body .nav-item .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 10px;
  padding-left: 12.5px;
  background-color: #0a0a0f;
  margin-bottom: 15px;

  border-radius: 13px;
  text-align: start;
  font-weight: 400;
  font-size: large;
  color: #fff;
}
.offcanvas-body .nav-item .btn i {
  margin-right: 30px;
}

.offcanvas-body .nav-item .btn:hover {
  background-color: #7746eb;
}

.navbar-nav .nav-link.active {
  color: aliceblue;
  font-size: large;
  font-weight: 400;
  text-align: start;
}

.offcanvas-body .nav-item .btn:focus {
  background: #7746eb;
}

/** HERO SECTION**/

.hero h1 {
  padding-inline: 15px;
  word-spacing: 2px;
  margin-block: 15px;
  margin-inline: 15%;
  font-size: 65px;
  font-weight: 800;
}

.hero h2 {
  margin-bottom: 7px;
  font-size: 30px;
  font-weight: 600;
}

.hero p {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-inline: 10%;
}

.landing h1 span {
  color: #7746eb;
}

.h-btn {
  margin-top: 15px;
  padding-block: 10px;
  padding-inline: 15px;
  color: aliceblue;
  background-color: #7746eb;
  font-size: large;
  font-weight: 700;
  border-radius: 25px;
  z-index: 1000;
}

.h-btn:hover {
  background-color: #8446ff;
}

.oreo {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  width: 100%;
  z-index: 0;
}

/**About section**/

.otto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  color: #0000;
}

.About {
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  height: auto;
}

.about {
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 5;
}

.about h2 {
  margin-bottom: 10px;
}

.about p {
  text-align: center;
  margin-inline: 10%;
}

.about h1 span {
  color: #7746eb;
}

.about-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-2 .about-h1 {
  margin-left: 18rem;
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 12em;
}

.about-h1 .a8a {
  font-weight: 800;
  color: white;
}

.about-h1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

.about-h1 .a8a .c {
  color: #7746eb;
}

.about-text {
  margin-bottom: 15px;
}

.about .about-text h1 {
  margin-top: 40px;
  font-size: 50px;
  font-weight: 800;
}

.progress {
  margin-bottom: 25px;
  max-width: 24rem;
  min-width: 12rem;
}

.a7a {
  position: sticky;
  right: 100%;
  bottom: 1%;
}

/**CAAAAARRRRRDDD**/
.card {
  width: 20em;

  height: 30em;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  left: 0;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 15px;
  z-index: 5;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.card img {
  max-width: 12em;
  max-height: 12em;
  border-radius: 15px;
  margin: auto;
}

.card span {
  font-size: larger;
  font-weight: 800;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a {
  color: white;
  transition: 0.2s ease-in-out;
}

.card a:hover {
  color: #7746eb;
}

.card button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.25s ease-in-out;
}

.card button:hover {
  background: #7746eb;
  color: white;
  cursor: pointer;
  margin-inline: auto;
}

.card .share a {
  margin-inline: 12px;
}

/**SKIIIIILLLLSSSSSSSS**/
.containero {
  position: relative;
  max-width: 500px;
  width: 85%;
  background: #171717;
  margin: 0 15px;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 7px;
  text-align: start;
}

.containero .skill-boxo {
  width: 100%;
  margin: 25px 0;
}

.skill-boxo .titleo {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: rgb(226, 226, 226);
}

.skill-boxo .skill-baro {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(236, 236, 236, 0.1);
}

.skill-baro .skill-pero {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: rgb(226, 226, 226);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-pero.htmlo {
  /*progreso de las diferentes lenguajes*/
  width: 90%;
  animation-delay: 0.1s;
}

.skill-pero.csso {
  /*progreso de las diferentes lenguajes*/
  width: 70%;
  animation-delay: 0.1s;
}

.skill-pero.Boostrapo {
  /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.2s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-pero .tooltipo {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 3px;
  background: rgb(226, 226, 226);
  z-index: 1;
}

.tooltipo::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: rgb(226, 226, 226);
  transform: translateX(-50%) rotate(45deg);
}

/**WWWWWWAAAAAAAAVVVVVVVVVVVEEEEEEEEESSSSSSSSSS**/
.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 150px;
  max-height: 200px;
}

.waves2 {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: 0px;
  /*Fix for safari gap*/
  min-height: 150px;
  max-height: 200px;
  border-bottom-right-radius: 20px;
  background: transparent;
}
.waves3 {
  position: relative;
  width: 100%;
  height: 20vh;
  gap: 10;
  /*Fix for safari gap*/
  min-height: 150px;
  max-height: 200px;
}

.content {
  position: relative;
  height: 30vh;
  text-align: center;
  background-color: #101014;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -1s;
  animation-duration: 7.5s;
}

.parallax > use:nth-child(2) {
  animation-delay: -5s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -10s;
  animation-duration: 15s;
}

.parallax > use:nth-child(4) {
  animation-delay: -20s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/***PPPPPPRRRRRROOOOOOOJJJJEEEECCCCCTTTTTTTTSSSSSS***/

.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
}

.project-txt .title {
  top: 0;
  font-weight: 800;
  color: white;
}
.project-txt {
  top: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-txt h1 {
  margin-top: 40px;
  font-size: 1500;
  font-weight: 800;
}

.about-h1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

.about-h1 .a8a .c {
  color: #7746eb;
}

.about-text {
  margin-bottom: 15px;
}

.about-text h1 {
  margin-top: 40px;
  font-size: 1500;
  font-weight: 800;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.carde {
  margin-bottom: 15px;
  margin-inline: 20px;
  min-width: 240px;
  min-height: 304px;
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.carde h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
}

.carde::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(
    180deg,
    rgb(111, 0, 255),
    rgb(207, 48, 255)
  );
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.carde::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .content {
    height: 40vh;
  }

  h1 {
    font-size: 24px;
  }

  .about .about-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .a8a {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .hero h1 {
    font-size: 45px;
    margin-inline: 5%;
  }

  .hero h2 {
    font-weight: bold;
  }
}
@media (max-width: 700px) {
  .offcanvas {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .oreo {
    z-index: 1;
  }

  .otto {
    flex-direction: column;
  }

  .About {
    height: auto;
  }

  .about-text h1 {
    font-size: 45px;
  }

  .card {
    width: 18em;
    height: auto;
  }

  .card button {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .about-h1 {
    margin-left: 0;
  }

  .project-card {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .oreo {
    margin-bottom: auto;
    margin-bottom: -15px;
  }
}
